.container
  .row
    .col-md-12
      %h2
        %a{href: admin_option_types_path}
          Option Type
        \/ #{@option_type.name}
      = display_success_alert(notice)

      .panel.panel-default
        .panel-heading
          %h3.panel-title Option Values
        = bootstrap_form_for([:admin, @option_type]) do |f|
          .panel-body
            .row
              .col-md-6
                = f.text_field :name
              .col-md-6
                = f.text_field :presentation
            %legend
              Option Values

            #option-values
              = f.fields_for :option_values do |option_value|
                = render 'option_value_fields', f: option_value
              .links
                = link_to_add_association 'Add Option Value', f, :option_values, class: 'btn btn-primary'

          .panel-footer
            .text-center
              = f.submit 'Update', class: 'btn btn-success'
              = link_to admin_option_types_path, class: 'btn btn-default text-center' do
                %span.glyphicon.glyphicon-remove
                Cancel
