.container
  .row
    .col-md-12
      %h2
        %a{href: admin_option_types_path}
          Option Types
        \/ New option type

      = bootstrap_form_for([:admin, @option_type]) do |f|
        .row
          .col-md-6
            = f.text_field :name
          .col-md-6
            = f.text_field :presentation

        = f.submit 'Create', class: 'btn btn-success'

        = link_to admin_option_types_path, class: 'btn btn-default' do
          %span.glyphicon.glyphicon-remove
          Cancel
