.container
  .row
    .col-md-4.col-md-push-8
      = render partial: 'moon/admin/shared/product_side_bar', locals: { option: { details: 'active' } }
    .col-md-8.col-md-pull-4
      %h2
        %a{href: admin_products_path}
          Products
        \/ #{@product.name}

      = display_success_alert(notice)

      = bootstrap_form_for([:admin, @product]) do |f|
        .row
          .col-md-8
            = f.text_field :name
            = f.text_area :description, rows: 15
          .col-md-4
            = f.fields_for :variants, @product.master_variant do |ff|
              = ff.text_field :sku
              = ff.text_field :price
              = f.text_field :available_on, class: 'datepicker'


        = f.collection_check_boxes :option_type_ids, Moon::OptionType.all, :id, :name, label: 'Option types'
        = f.text_field :meta_title
        = f.text_field :meta_keywords
        = f.text_field :meta_description

        = f.submit class: 'btn btn-success'

        = link_to admin_products_path, class: 'btn btn-default' do
          %span.glyphicon.glyphicon-remove
          Cancel
