.container
  .row
    .col-md-12
      %h2
        %a{href: admin_products_path}
          Products
        \/ New product

      = bootstrap_form_for([:admin, @product]) do |f|
        = f.text_field :name
        = f.fields_for :variants, @product.master_variant do |ff|
          .row
            .col-md-4
              = f.text_field :available_on, class: 'datepicker'
            .col-md-4
              = ff.text_field :sku
            .col-md-4
              = ff.text_field :price, label: 'Master price'
              = ff.hidden_field :is_master, value: 1

        = f.submit class: 'btn btn-success'

        = link_to admin_products_path, class: 'btn btn-default' do
          %span.glyphicon.glyphicon-remove
          Cancel
